* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
}

body {
    @media (min-width: 48em) {
        background-color: #F6F6F8;
    }
}

button, a {
    white-space: nowrap;
}

button, a {
    cursor: pointer;
}

a {
    text-decoration: none;
    text-align: center;
}

.header {
    height: 66px;
    padding: 12px 16px;
    display: flex;
    justify-content: center;
    background-color: #FFFFFF;
    position: relative;
    align-items: center;

    div {
        height: fit-content;
    }

    .logo {
        height: 26px;
        display: block;
    }

    .logo-desktop {
        display: none;
    }

    .button__exit {
        border: none;
        background: none;
        position: absolute;
        right: 16px;
        top: 50%;
        transform: translateY(-50%);

        .button__exit-icon {
            height: 20px;
            width: 20px;
        }
    }

    @media (min-width: 48em) {
        height: 68px;
        padding: 12px 40px;
        justify-content: left;

        .logo {
            display: none;
        }

        .logo-desktop {
            height: 32px;
            display: block;
        }

        .button__exit {
            right: 40px;
        }
    }
}


.content {
    display: flex;
    justify-content: center;

    margin: 0 auto;
    padding: 0 16px;
    align-items: center;
    height: calc(100vh - 66px);


    @media (min-width: 48em) {
        height: calc(100vh - 68px);
    }
}

.content__wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 375px;
    width: 375px;

    @media (min-width: 48em) {
        max-width: 400px;
        width: 400px;
        background-color: #FFFFFF;
        min-height: 404px;
        padding: 40px 24px;
        border-radius: 16px;
    }
}

.title {
    font-size: 22px;
    font-weight: 700;
    line-height: 140%;
    text-align: center;
}

.description {
    color: #858FA3;
    font-size: 16px;
    line-height: 24px;
    margin: 8px 0 32px 0;
    text-align: center;
}

.accounts__wrapper {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 32px;
    width: 100%;
}

.button {
    width: 100%;
    background-color: #7E56FF;
    color: #fff;
    font-size: 18px;
    line-height: 48px;
    padding: 1px 24px;
    border: none;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;

    &.loading .button-text {
        display: none;
    }

    & .loader {
        display: none;
    }

    &.loading .loader {
        display: block;
    }
}

.account_item {
    display: flex;
    background-color: #F6F6F8 ;
    padding: 4px 12px;
    border-radius: 8px;
    align-items: center;
    gap: 20px;
    justify-content: space-between;
}

.account_item__wrapper {
    display: flex;
    gap: 12px;
    align-items: center;
}

.account_item__number {
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    color: #445371;
}

.account_item__icon {
    width: 40px;
    height: 40px;
    border-radius: 8px;
    padding: 8px;
    border: 1px solid #44537140;
    background-color: #FFF;
}

.account_button__logout {
    height: 48px;
    width: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.new-account__agreements {
    margin-top: 24px;
    line-height: 20px;
    font-size: 14px;
    color: #858FA3;
    display: flex;
    flex-direction: column;
    gap: 20px;

    .checkbox__input {
        display: none;
    }

    .checkbox__label {
        position: relative;
        padding-left: 28px;
        cursor: pointer;
        user-select: none;
    }

    .checkbox__label::before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 18px;
        height: 18px;
        border: 1px solid #44537180;
        border-radius: 4px;
        background: #fff;
        transition: border-color 0.2s, background 0.2s;
    }

    .checkbox__input:checked ~ .checkbox__label::before,
    .checkbox__label:has(.checkbox__input:checked)::before {
        border-color: #9374FF;
        background: #9374FF;
    }

    .checkbox__input:checked ~ .checkbox__label::after,
    .checkbox__label:has(.checkbox__input:checked)::after {
        content: "";
        position: absolute;
        left: 4px;
        top: 8px;
        transform: translateY(-50%) rotate(-45deg);
        width: 10px;
        height: 5px;
        border-left: 2px solid #fff;
        border-bottom: 2px solid #fff;
    }


    .link {
        text-decoration: none;
        color: #445371;

        &:hover {
            text-decoration: underline;
        }
    }
}

.new-account_phone {
    position: relative;
    width: 100%;

    &:has(.new-account_phone__input:disabled) {
        pointer-events: none;
    }

    &:has(.new-account_phone__input:disabled) .new-account_phone__left-icon {
        opacity: 0.5;
    }

    &:has(.new-account_phone__input:disabled) .new-account_phone__input {
        opacity: 0.5;
    }

    &:has(.new-account_phone__input:disabled) .new-account_phone__right-button {
        opacity: 0.5;
        cursor: not-allowed;
    }
}

.new-account_phone__left-icon {
    position: absolute;
    left: 14px;
    top: 50%;
    transform: translateY(-50%);
}

.new-account_phone__input {
    color: #445371;
    border-radius: 8px;
    background-color: #F6F6F8;
    font-size: 18px;
    line-height: 48px;
    height: 48px;
    border: solid 2px #F6F6F8;
    outline: none;
    padding: 2px 14px 2px 45px;
    width: 100%;

    &:active:not(:disabled), &:focus:not(:disabled) {
        border: solid 2px #9374FF;
    }

    &:disabled {
        color: #44537180;
    }
}

.new-account_phone__right-button {
    position: absolute;
    right: 14px;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    background: none;
    width: 16px;
    height: 16px;
    display: none;

    &.visible {
        display: block;
    }
}

.input__wrapper {
    margin-bottom: 24px;
    width: 100%;
}

.input__error {
    border: solid 2px #E14453;
}

.message__error {
    color: #E14453;
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
    margin-top: 6px;
}

.loader {
    width: 15px;
    height: 15px;
    border: 1px solid #FFF;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes blink {
    0%, 49% {
        opacity: 1;
    }
    50%, 100% {
        opacity: 0;
    }
}

.confirm__number {
    color: #0E1117;
}

.confirm__code-input {
    display: flex;
    justify-content: center;
    gap: 12px;
    margin-bottom: 24px;
    position: relative;

    #otp-input {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        z-index: 10;
        cursor: pointer;
        font-size: 16px;
        letter-spacing: 20px;
        padding-left: 20px;
    }

    .confirm__code-digit {
        width: 50px;
        height: 50px;
        position: relative;
        border: 1px solid #44537140;
        border-radius: 8px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #fff;

        &::after {
            content: attr(data-value);
            font-size: 16px;
            font-weight: 600;
            line-height: 24px;
            color: #445371;
        }

        &::before {
            content: '';
            position: absolute;
            width: 1px;
            height: 20px;
            background-color: #445371;
            opacity: 0;
            animation: none;
        }

        &.focused {
            border: 1px solid #44537180;

            &:not([data-value])::before {
                opacity: 1;
                animation: blink 1s infinite;
            }
        }
    }

    &.error .confirm__code-digit {
        border: 1px solid #E14453;
    }
}

.confirm__resend {
    color: #7E56FF;
    font-size: 16px;
    line-height: 24px;
    background: none;
    outline: none;
    border: none;
}

.error__icon {
    width: 48px;
    height: 48px;
    margin-bottom: 16px;
}

.base-loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;

    .loader {
        width: 33px;
        height: 33px;
        border: 3px solid #7E56FF;
        border-bottom-color: transparent;
        border-radius: 50%;
        display: inline-block;
        box-sizing: border-box;
        animation: rotation 1s linear infinite;
    }
}

.blocking_loader {
    @extend .base-loader;
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(3px);
}

.init-loader {
    @extend .base-loader;
    background-color: rgb(255, 255, 255);
}

